body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: darkslategray;
    color: whitesmoke
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #a517);
    padding: 0 !important;
}

.navbar-nav li {
    border: thistle;
    border-color: thistle;
    border-width: 5px;
    padding: 0px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
}