body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: darkslategray;
    color: whitesmoke
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #a517);
    padding: 0 !important;
    padding: 0px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

#aboutMe {
    background-color: gray;
    color: #fff;
    padding-top: 5%;
    border-color: mediumseagreen;
    border-width: 2%;
}